* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
}

h1,
h2 {
  font-family: var(--title-font);
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}
