@import "./utils/index.css";
@import "./components/index.css";
@import "./layout/index.css";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--gray-light-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

h1 {
  color: var(--primary-dark-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 38px;
}

h2,
h3 {
  color: var(--primary-dark-color);
}

.container {
  max-width: 768px;
  margin: 0 auto;
}

.tag {
  background-color: var(--blue-lighter-color);
  color: var(--blue-light-color);
  border-radius: 100px;
  padding: 4px 8px;
}

.prefix-icon {
  padding-right: 4px;
}
